.navigator {
  display: flex;
  justify-content: space-between;

  padding: 0 1rem;

  font-weight: 700;
  font-size: 0.9rem;

  div {
    cursor: pointer;
  }
}

.arrow {
  width: 2.5rem;

  &.next {
    transform: rotate(180deg);
  }
}
