@import '@/styles/variables';

.container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  border-radius: 5px;
  padding: 2rem 1.5rem;

  transition: all 0.3s ease;

  cursor: pointer;

  &:hover > .title {
    background-color: $color-point-ocean;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.title {
  font-size: 1.3rem;
  font-weight: 900;
}

.date {
  display: flex;
  justify-content: flex-end;
  gap: 5px;

  font-size: 0.9rem;

  color: gray;

  white-space: nowrap;

  img {
    width: 1rem;
  }
}
