@import '@/styles/variables';

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;

  width: 100%;

  padding: 0 1rem;
}

.title {
  font-size: 1.5rem;
}

.subtitle {
  color: $color-point-hotpink;

  font-size: 1.2rem;
}

.table {
  display: grid;
  grid-template-columns: 1fr 2fr;
  row-gap: 0.5rem;
}

.index {
  font-weight: 700;
}
