@import '@/styles/variables';

.container {
  width: 100%;

  h2 {
    text-align: center;

    margin-bottom: 2rem;
  }
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;

  width: 100%;

  padding: 0;
}

.item {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;

  width: 80%;
}

.name {
  display: flex;
  align-items: center;
  gap: 1rem;

  a {
    height: 25px;

    img {
      height: 100%;
    }
  }
}

.date {
  display: flex;
  gap: 0.3rem;
}

.tech-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.tech {
  width: fit-content;

  border-radius: 12px;
  padding: 0 0.4rem;

  background-color: $FONT_LIGHTER;
  color: $FONT_BOLDER;
}
