@import '@/styles/variables';

.container {
  display: flex;
  flex-direction: column;
  gap: 4.8rem;

  width: 99%;

  margin: 1rem 0;
}

.category-container {
  display: flex;
  gap: 1.5rem;

  overflow-x: scroll;

  padding: 0 1.5rem;
}

.category {
  background-color: $FONT_LIGHT;
  color: $WHITE;

  border-radius: 8px;
  padding: 0 0.5rem;

  white-space: nowrap;

  transition: background-color 0.3s;

  cursor: pointer;

  &::-webkit-scrollbar {
    display: none;
  }

  &.selected,
  &:hover {
    background-color: $FONT_BASIC;
  }
}
