.header {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.title {
  font-size: 1.5rem;
  font-weight: 900;
  line-height: 2rem;

  padding: 0 1rem;
}

.description {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 0 1rem;
}

.minute {
  color: gray;
}

.date {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;

  color: gray;

  padding: 0 1rem;

  white-space: nowrap;

  img {
    width: 1rem;
  }
}
