.header {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.title {
  font-size: 1.5rem;
  font-weight: 900;
  line-height: 2rem;

  padding: 0 1rem;
}

.date {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;

  color: gray;

  padding: 0 1rem;

  img {
    width: 1rem;
  }
}
