$color-brand-primary: #af9bebbf;
$color-brand-secondary: #7b57e8;
$color-brand-tertiary: #d6c9ff;

$color-background-light: #ffffff;
$color-background-dark: #222222;

$color-font-light: #111111;
$color-font-dark: #ffffff;

$color-shadow: #00000040;

$color-translucent-white: #ffffff80;
