@import 'tailwindcss';
@import './article.css';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-pretendard), Arial, Helvetica, sans-serif;
}

@theme {
  --font-pretendard: var(--font-pretendard);
  --text-xxs: 0.5rem;
  --text-xxs--line-height: 0.75rem;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --breakpoint-xs: 30rem;
  --breakpoint-xl-large: 85rem;
}
