@mixin animation($delay, $duration, $name, $fill-mode) {
  animation-delay: $delay;
  animation-duration: $duration;
  animation-name: $name;
  animation-fill-mode: $fill-mode;
}

@mixin keyframe($animation_name) {
  @keyframes #{$animation_name} {
    @content;
  }
}
