@import './font.scss', 'variables.scss';

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 2rem;

  font-family: 'Gowun Dodum', 'Noto Sans KR', sans-serif;
  font-size: 1rem;

  text-shadow: 0 0 0.1px rgba(0, 0, 0, 0.3);
  -webkit-text-size-adjust: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  text-rendering: optimizelegibility;

  ::selection {
    background-color: $color-point-light-yellow;
    color: black;
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}
h1 {
  font-size: 2rem;
  line-height: 3rem;
}
h2 {
  font-size: 1.7rem;
  line-height: 2.7rem;
}
h3 {
  font-size: 1.4rem;
  line-height: 2.4rem;
}
h4 {
  font-size: 1.2rem;
  line-height: 2.2rem;
}
a {
  width: fit-content;

  color: gray;
  text-decoration: none;

  transition: color 0.5s ease;

  &:hover {
    color: $color-point-ocean;
  }
}
hr {
  width: 97%;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
ul {
  margin: 0;
  padding-left: 1rem;

  list-style-type: square;
}
details {
  width: fit-content;

  summary {
    cursor: pointer;
  }
}
