$WHITE: #ffffff;
$BLACK: #000000;

$BACKGROUND: #fff;
$CODE_BACKGROUND: #212121;

$FONT_BASIC: #000000;
$BEIGE_200: #ddd6cf;
$BEIGE_300: #c6bfb8;
$BEIGE_400: #b4aba2;
$BEIGE_500: #a09489;
$BEIGE_600: #85776b;
$BEIGE_700: #635950;
