$color-brand-primary: #12c2e9;
$color-brand-secondary: #c471ed;
$color-brand-tertiary: #f64f59;

$color-point-red: #b92b27;
$color-point-hotpink: #ec2f4b;
$color-point-pink: #ffafbd;
$color-point-purpleBlue: #7f7fd5;
$color-point-skyblue: #86a8e7bb;
$color-point-ocean: #009fff;
$color-point-light-yellow: #fcffad;

$color-background-light: #ffffff;
$color-background-dark: #181818;

$color-font-light: #111111;
$color-font-dark: #ffffff;

$color-shadow: #00000040;

$color-translucent-white: #ffffff80;
