@import '@/styles/variables';

.layout {
  width: 100%;
  height: 100vh;
}

.header {
  position: fixed;
  z-index: 999;

  width: 100%;
  height: 3rem;
}

.content {
  display: flex;
  justify-content: center;

  min-height: 100%;

  box-sizing: border-box;
  padding: 5rem 0 3rem;

  background-color: $WHITE;

  * {
    max-width: 50rem;
  }
}
