@import '@/styles/variables';

.component {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  width: 80%;
}

.container {
  display: flex;
  align-items: center;

  width: 100%;
}

.line {
  width: 0;
  height: 9rem;

  border: 0.8px solid $BEIGE_600;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: 70%;

  margin-left: -5px;
}

.item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.wrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.circle {
  width: 8px;
  height: 8px;

  border: 1px solid $BEIGE_600;
  border-radius: 50%;

  background-color: $BEIGE_300;
}

.date {
  display: flex;
  gap: 0.3rem;
}

.name {
  display: -webkit-box;

  overflow: hidden;
  text-overflow: ellipsis;

  word-wrap: break-word;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
