@import '@/styles/variables';

.container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  width: 99%;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  padding: 2rem 1rem;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 1rem;
  }

  pre {
    display: flex;
    align-items: center;

    overflow-x: scroll;

    line-height: 1.5rem;

    background-color: $CODE_BACKGROUND;
    color: $WHITE;

    border-radius: 8px;
    padding: 1rem;

    &::-webkit-scrollbar {
      display: none;
    }

    code {
      background: none;
    }
  }

  code {
    background-color: $BEIGE_200;

    border-radius: 5px;

    padding: 0 0.2rem;

    font-family: 'Noto Sans KR', monospace, sans-serif;
  }

  strong {
    color: $BEIGE_600;

    font-weight: 900;
  }

  em {
    color: $BEIGE_600;

    font-style: italic;
  }
}
