@import '@/styles/variables';

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.subtitle {
  font-size: 1.5rem;
}

.important {
  color: $color-brand-primary;

  font-weight: 900;
}
