@import '@/styles/variables';

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  height: 100%;

  box-sizing: border-box;
  padding: 0 1rem;

  background: $BACKGROUND;
}

.logo-wrapper {
  display: flex;
  align-items: center;
}

.logo {
  overflow: hidden;

  width: 90px;

  cursor: pointer;
}

.nav {
  display: flex;
  gap: 1rem;

  list-style: none;
}
