.container {
  display: flex;
  gap: 2rem;

  box-sizing: border-box;
  padding: 0 1rem;
}

.photo {
  max-width: 8rem;
  min-width: 4rem;
  width: 30vw;
  aspect-ratio: 1 / 1;

  border-radius: 50%;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profile {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.name {
  font-size: 1.2rem;
}
